@import '../../Commons/baseColor.scss';
.movie-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 40px 0px;
    color: $font-primary;
    font-weight: 400;
    background-color: $secondary-color;
    margin: 20px 20px;
}

.movie-rating {
    padding-left: 3px;
    margin-top: 20px;
    color: $font-secondary;
    display: flex;

    span {
        margin-right: 20px;
    }
}

.movie-title {
    font-size: 40px;
    color: $font-primary;
}

.movie-plot {
    margin-top: 20px;
    line-height: 1.8rem;
}

.movie-info>div span:first-child {
    padding: 10px 0px;
    color: $font-primary;
    font-weight: 600;
    width: 100px;
    display: inline-block;
}

.movie-info>div span {
    color: $font-secondary;
}

.fa-star {
    color: #ff9e00;
}

.fa-thumbs-up {
    color: #fafafa;
}

.fa-film {
    color: rgb(191, 213, 214);
}

.fa-calendar {
    color: peachpuff;
}

.section-left{
    padding: 20px 30px;
}

.section-right {
    padding: 0 20px;
}
.section-right img{
    height: 100%;
    width: 100%;
}
.loading{
    margin-left: 90%;
    margin-top: 20%;
    font-weight: bold;
    padding-bottom: 200px;
}
@media screen and (max-width: 576px) {
    .movie-section {
        display: flex;
        flex-direction: column;
    }
    img{
        display: block;
    }
    
}