@import '../../../Commons/baseColor.scss';
.movie-list,
.show-list {
  margin: 20px 0px;
  h2 {
    color: $font-secondary;
    margin-bottom: 10px;
    font-weight: 400;
  }
}

.movie-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
}


.search-input{
  font-size: 26px;
}
.back-design{
  background-image: url("../../../images//banner.jpg");
  background-repeat: no-repeat;
  padding: 100px 0;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-input-box{
  display: flex;
}
.search-input{
  background-color: white;
  font-size: 22px;
  padding: 8px;
  border-radius: 0 0 10 10;
  border-left: none;
  width: 100%;
}
.search-input:focus{
  color: $font-secondary;
}
.notfound-movies{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-style{
  margin-bottom: 40px;
}

.select-menu{
  font-size: 15px;
  padding: 4px;
  width: 25%;
  background-color:black;
}
h2{
  font-weight: bold;
}
.reset{
  background-color: red;
  font-size: 12px;
  padding: 10px;
  border: 1px solid red;
}
@media screen and (max-width: 576px) {
  .search-input-box{
      width: 96%;
  };
  .search-input{
      font-size: 14px;
  }
  
}